a {
  text-decoration: none;
}

.first_navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: black;
  width: 100%;
  height: 3.5vh;
  color: white;
}

.first_navbar ul {
  display: flex;
  align-self: center;
  list-style-type: none;
}

.first_navbar ul li {
  margin-right: 1vh; 
}

.second_navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 6.5vh;
  color: white;
}

.second_navbar ul{
  display: flex;
  align-self: center;
  list-style-type: none;
}

.second_navbar ul li {
  color: black;
  margin-right: 1vh; 
}

#search_icon {
  border-left: 2px solid black;
  padding-left: 2vh;
}

.third_navbar {
  font-size: 0.9em;
  background-color:rgb(215, 230, 15);
  width: 100%;
  height: 3.5vh;
  color: rgb(0, 0, 0)
}

.container_top {
  display: flex;
  flex-direction: row;
  top: 100%;
}

.container_top .headline {
  font-family: sans-serif;
  font-size: 3em;
}

.container_top .topic {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.container_top .author {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}

.main_right_top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(../assets/2.jpeg);
  background-size: cover;
  background-position: center;
}

.main_right_top span {
  margin-left: 2vh;
  margin-bottom: 2vh;
}

.main_right_down {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(../assets/3.jpg);
  background-size: cover;
  background-position: center;
}

.main_right_down span {
  margin-left: 2vh;
  margin-bottom: 2vh;
}

.main_right .headline {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
}

.main_right .topic {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}

.main_right .author {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
}

.main_top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 3;
  width: 100%;
  height: 57.5vh;
  color: white;
  background: url(../assets/1.jpeg);
  background-size: cover;
  background-position: center;
}

.main_right_top {
  background-color:rgb(57, 194, 91);
  width: 100%;
  height: 28.3vh;
  color: white;
}

.main_right_down {
  background-color:rgb(57, 194, 91);
  width: 100%;
  height: 28.7vh;
  color: white;
}

.main_container {
  width: 65%;
  margin-left: 35vh;
}

.first_main {
  display: flex;
  flex-direction: column;
}
#latest_n {
  font-family: sans-serif;
  color: tomato;
}

.first_main .latest_news {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5vh;
}

.first_main .latest_news div {
  width: 25%;
  margin-right: 4vh;
}

.headline {
  font-family:  'Ubuntu', sans-serif;
}
.author {
  font-family: 'Roboto', sans-serif;
}

.latest_news img {
  width: 100%
}

.top_second_main {
  display: flex;
  justify-content: space-between;
  color: tomato;
  font-family: 'Ubuntu', sans-serif;
}

.top_second_main a {
  color: tomato;
}

.top_second_main a:visited {
  color: tomato;
}


.late_fund {
  display: flex;
  flex-direction: column;
}

.second_main .latest_funding {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.second_main .latest_funding .item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
}

.second_main .latest_funding img {
  width: 100%;
}

.third_main .apps_and_gear {
  display: flex;
  justify-content: center;
  width: 100%;
}

.third_main .apps_and_gear div {
  width: 33%;
}

.third_main .apps_and_gear div {
  width: 33%;
}

.third_main .continuation {
  display: flex;
  flex-direction: row;
}

.third_main .continuation div {
  width: 33%;
}

.third_main .apps_text {
  display: flex;
  justify-content: center;
  width: 100%;
}

.third_main .apps_text div {
  width: 33%;
}

.third_main .apps_text div ul {
  list-style: none;
}

.third_main .apps_text div ul li {
  border-bottom: 1px solid rgb(212, 208, 208);
  margin-top: 5px;
  margin-right: 50px;
  padding-bottom: 15px;
  font-size: 0.8em;
  font-family: sans-serif;
}

.third_main .apps_text div ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.third_main .apps_text a {
  color: black;
}

.third_main img {
  width: 100%;
}

.fourth_main .latest_deals {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid red;
}

.fourth_main .latest_deals div {
  border: 2px solid red;
  width: 25%;
}

.media_links {
  width: 100%;
  height: 20vh;
  background-color: #131313;
}

.actual_footer {
  background-color: black;
  height: 12vh;
}


footer ul {
  list-style-type: none;
  display: flex;
}

footer ul li {
  margin-right: 2vh;
}